<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>Extras</li>
		<li class="active">User Profile</li>
	</ol>

	<h1>User Profile</h1>
	<div class="options">
            <div class="btn-toolbar">
                <div class="btn-group hidden-xs" data-dropdown>
                    <button class="btn btn-default dropdown-toggle" data-toggle='dropdown'><span class="hidden-sm"> Export as  </span><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Text File (*.txt)</a></li>
                        <li><a href="#">Excel File (*.xlsx)</a></li>
                        <li><a href="#">PDF File (*.pdf)</a></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
</div>
<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<!-- <div class="panel-heading">
					<h4>Invoice</h4>
				</div> -->
				<div class="panel-body">
					<div class="clearfix">
						<div class="pull-left">
							<h4>Invoice # <br>
								<strong>2013-11-13124112</strong>
							</h4>
						</div>
						<div class="pull-right">
							<h4 class="text-right"><img src="assets/img/logo-big.png" alt="Avant"></h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 style="background: #85c744; padding: 5px 10px; color: #fff; text-transform: uppercase; border-radius: 1px; margin: 20px 0 20px; text-align:center">Customer Invoice</h3>
							<div class="pull-left">
								<address>
    							    <strong>Customer Company, Inc.</strong><br>
    							    795 Folsom Ave, Suite 600<br>
    							    San Francisco, CA 94107<br>
    							</address>
    						</div>
							<div class="pull-right">
								<ul class="text-right list-unstyled">
									<li><strong>Date:</strong> 14/11/2013</li>
									<li><strong>Due:</strong> 24/12/2013</li>
									<li><strong>Late Fee:</strong> 0.5%</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<th>#</th>
										<th>Item</th>
										<th>Description</th>
										<th>Quantity</th>
										<th>Unit Cost</th>
										<th>Total</th>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Dolor</td>
											<td>Lorem ipsum dolor sit amet.</td>
											<td>3</td>
											<td>$35.50</td>
											<td>$150</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Dolor</td>
											<td>Lorem ipsum dolor sit amet.</td>
											<td>3</td>
											<td>$35.50</td>
											<td>$150</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Dolor</td>
											<td>Lorem ipsum dolor sit amet.</td>
											<td>3</td>
											<td>$35.50</td>
											<td>$150</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Dolor</td>
											<td>Lorem ipsum dolor sit amet.</td>
											<td>3</td>
											<td>$35.50</td>
											<td>$150</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Dolor</td>
											<td>Lorem ipsum dolor sit amet.</td>
											<td>3</td>
											<td>$35.50</td>
											<td>$150</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-md-offset-9">
							<p class="text-right">Sub-total 750.00</p>
							<p class="text-right">Discout: 12.9%</p>
							<p class="text-right">VAT: 15%</p>
							<hr>
							<h3 class="text-right">USD 751.24</h3>
						</div>
					</div>
					
				</div>
				<div class="panel-footer hidden-print">
					<div class="pull-right">
						<a href="#" class="btn btn-inverse"><i class="fa fa-print"></i></a>
						<a href="#" class="btn btn-primary">Submit</a>
					</div>
				</div>
			</div>

		</div>

	</div>

</div> <!-- container-fluid -->
