<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>Extras</li>
		<li class="active">User Profile</li>
	</ol>

	<h1>User Profile</h1>
	<div class="options">
            <div class="btn-toolbar">
                <div class="btn-group hidden-xs" data-dropdown>
                    <button class="btn btn-default dropdown-toggle" data-toggle='dropdown'><span class="hidden-sm"> Export as  </span><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Text File (*.txt)</a></li>
                        <li><a href="#">Excel File (*.xlsx)</a></li>
                        <li><a href="#">PDF File (*.pdf)</a></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<div class="panel panel-default panel-profile">
				<div class="panel-body user-profile">
					<img src="assets/demo/images/nature_enchantedcreek.jpg" alt="" class="img-responsive user-avatar">

					<div class="user-detail">
						<h2 class="user-name">James Black</h2>
						<h6 class="user-info">About</h6>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
						<div class="table-responsive">
							<h6 class="user-info">Details</h6>
							<table class="table table-condensed m0">
								<tbody>
									<tr>
										<td style="border-top: 0">Web</td>
										<td style="border-top: 0"><a href="#">www.johndoe.com</a></td>
									</tr>
									<tr>
										<td>Email</td>
										<td><a href="">doe@lime.com</a></td>
									</tr>
									<tr>
										<td>Phone</td>
										<td>(123)-342-5412</td>
									</tr>
									<tr>
										<td>Position</td>
										<td>Designer</td>
									</tr>
									<tr>
										<td>Status</td>
										<td>Member</td>
									</tr>
									<tr>
										<td>Social</td>
										<td>
											<a href="#" class="btn btn-xs"><i class="fa fa-skype"></i></a>
											<a href="#" class="btn btn-xs"><i class="fa fa-facebook"></i></a>
											<a href="#" class="btn btn-xs"><i class="fa fa-twitter"></i></a>
											<a href="#" class="btn btn-xs"><i class="fa fa-dribbble"></i></a>
											<a href="#" class="btn btn-xs"><i class="fa fa-tumblr"></i></a>
											<a href="#" class="btn btn-xs"><i class="fa fa-linkedin"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
        	</div>
		</div>
		<div class="col-sm-9">

			<tabset panel-tabs="true" panel-class="panel-default">
				<tab heading="Timeline">
					<ul class="timeline">
						<li class="timeline-danger">
							<div class="timeline-icon"><i class="fa fa-pencil"></i></div>
							<div class="timeline-body">
								<div class="timeline-header">
									<span class="author">Posted by <a href="#">David Tennant</a></span>
									<span class="date">Monday, November 21, 2013</span>
								</div>
								<div class="timeline-content">
									<h3>Consectetur Adipisicing Elit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur suscipit!</p>
								</div>
							</div>
						</li>
						<li class="timeline-danger">
							<div class="timeline-icon"><i class="fa fa-pencil"></i></div>
							<div class="timeline-body">
								<div class="timeline-header">
									<span class="author">Posted by <a href="#">David Tennant</a></span>
									<span class="date">Monday, November 21, 2013</span>
								</div>
								<div class="timeline-content">
									<h3>Consectetur Adipisicing Elit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur suscipit!</p>
								</div>
							</div>
						</li>
						<li class="timeline-danger">
							<div class="timeline-icon"><i class="fa fa-pencil"></i></div>
							<div class="timeline-body">
								<div class="timeline-header">
									<span class="author">Posted by <a href="#">David Tennant</a></span>
									<span class="date">Monday, November 21, 2013</span>
								</div>
								<div class="timeline-content">
									<h3>Consectetur Adipisicing Elit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur suscipit!</p>
								</div>
							</div>
						</li>
						<li class="timeline-danger">
							<div class="timeline-icon"><i class="fa fa-pencil"></i></div>
							<div class="timeline-body">
								<div class="timeline-header">
									<span class="author">Posted by <a href="#">David Tennant</a></span>
									<span class="date">Monday, November 21, 2013</span>
								</div>
								<div class="timeline-content">
									<h3>Consectetur Adipisicing Elit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur suscipit!</p>
								</div>
							</div>
						</li>
						<li class="timeline-danger">
							<div class="timeline-icon"><i class="fa fa-pencil"></i></div>
							<div class="timeline-body">
								<div class="timeline-header">
									<span class="author">Posted by <a href="#">David Tennant</a></span>
									<span class="date">Monday, November 21, 2013</span>
								</div>
								<div class="timeline-content">
									<h3>Consectetur Adipisicing Elit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur suscipit!</p>
								</div>
							</div>
						</li>
						<li class="timeline-danger">
							<div class="timeline-icon"><i class="fa fa-pencil"></i></div>
							<div class="timeline-body">
								<div class="timeline-header">
									<span class="author">Posted by <a href="#">David Tennant</a></span>
									<span class="date">Monday, November 21, 2013</span>
								</div>
								<div class="timeline-content">
									<h3>Consectetur Adipisicing Elit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur suscipit!</p>
								</div>
							</div>
						</li>
					</ul>
				</tab>
				<tab heading="Activity">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
				</tab>
				<tab heading="Assigned Projects">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
				</tab>
				<tab heading="Followers">
					
					<div class="row">
						<div class="col-md-6 mb">
							<div class="row">
								<div class="col-xs-4">
									<img src="assets/demo/avatar/aniss.png" alt="" class="img-responsive">
								</div>
								<div class="col-xs-8">
									<h4>Patrick Jane</h4>
									<span>Last Seen 10 minutes ago</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb">
							<div class="row">
								<div class="col-xs-4">
									<img src="assets/demo/avatar/watson.png" alt="" class="img-responsive">
								</div>
								<div class="col-xs-8">
									<h4>Louise Lane</h4>
									<span>Last Seen 49 minutes ago</span>
								</div>
							</div>
						</div>


						<div class="col-md-6 mb">
							<div class="row">
								<div class="col-xs-4">
									<img src="assets/demo/avatar/paton.png" alt="" class="img-responsive">
								</div>
								<div class="col-xs-8">
									<h4>Aniss Harisson</h4>
									<span>Last Seen 2 hours ago</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb">
							<div class="row">
								<div class="col-xs-4">
									<img src="assets/demo/avatar/tennant.png" alt="" class="img-responsive">
								</div>
								<div class="col-xs-8">
									<h4>Caleb Deizon</h4>
									<span>Last Seen 2 hours ago</span>
								</div>
							</div>
						</div>


						<div class="col-md-6 mb">
							<div class="row">
								<div class="col-xs-4">
									<img src="assets/demo/avatar/jobs.png" alt="" class="img-responsive">
								</div>
								<div class="col-xs-8">
									<h4>Redd Stevens</h4>
									<span>Last Seen 3 hours ago</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb">
							<div class="row">
								<div class="col-xs-4">
									<img src="assets/demo/avatar/corbett.png" alt="" class="img-responsive">
								</div>
								<div class="col-xs-8">
									<h4>Corbett Dangerfield</h4>
									<span>Last Seen 7 hours ago</span>
								</div>
							</div>
						</div>

					</div>


				</tab>
			</tabset>

		</div>
	</div>


</div> <!-- container-fluid -->
