<style>
	.dropdown.open .dropdown-menu.animated {
		-webkit-animation-name: {{getLayoutOption('dropdownTransitionStyle')}};
		animation-name: {{getLayoutOption('dropdownTransitionStyle')}};
		-webkit-animation-duration: .5s;
		animation-duration: .5s;
	}
	.dropdown-menu.animated {
		-webkit-animation-name: none;
		animation-name: none;
	}

	.mainview-animation.animated.ng-enter {
		-webkit-animation-name: {{getLayoutOption('pageTransitionStyle')}};
		animation-name: {{getLayoutOption('pageTransitionStyle')}};
	}
</style>