<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Pages</li>
        <li class="active">Email Templates</li>
    </ol>

    <h1>Responsive Email Templates</h1>   
</div>
<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-3 flip-wrapper">
			<div class="flip-container">
			  <div class="flipper">
			    <div class="front">
			        <img src="assets/demo/sidebar.png" class="img-responsive" />
			    </div>
			    <div class="back">
		          	<a href="views/responsive-emails/sidebar.html" class="btn btn-primary" target="_blank">OPEN DEMO</a>
			    </div>
			  </div>
			</div>
		</div>
        <div class="col-md-3 flip-wrapper">
			<div class="flip-container">
			  <div class="flipper">
			    <div class="front">
			        <img src="assets/demo/sidebar-hero.png" class="img-responsive" />
			    </div>
			    <div class="back">
		          	<a href="views/responsive-emails/sidebar-hero.html" class="btn btn-primary" target="_blank">OPEN DEMO</a>
			    </div>
			  </div>
			</div>
		</div>
        <div class="col-md-3 flip-wrapper">
			<div class="flip-container">
			  <div class="flipper">
			    <div class="front">
			        <img src="assets/demo/basic.png" class="img-responsive" />
			    </div>
			    <div class="back">
		          	<a href="views/responsive-emails/basic.html" class="btn btn-primary" target="_blank">OPEN DEMO</a>
			    </div>
			  </div>
			</div>
		</div>
        <div class="col-md-3 flip-wrapper">
			<div class="flip-container">
			  <div class="flipper">
			    <div class="front">
			        <img src="assets/demo/hero.png" class="img-responsive" />
			    </div>
			    <div class="back">
		          	<a href="views/responsive-emails/hero.html" class="btn btn-primary" target="_blank">OPEN DEMO</a>
			    </div>
			  </div>
			</div>
		</div>
    </div>

</div> <!-- container-fluid -->
