<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Form</li>
        <li class="active">WYSIWYG Editor</li>
    </ol>

    <h1>WYSIWYG Editor</h1>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    Export as <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid">

    <panel heading="inline-editor" panel-class="panel-midnightblue">

        <div class="col-12">
            <div cols="80" rows="20" text-angular ng-model="doodoo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nobis laboriosam repellat ipsum deserunt voluptate eos praesentium atque eligendi libero. Nam, id, eligendi natus facilis ullam pariatur numquam amet illum repudiandae ex porro labore in perferendis vero nobis iure ratione? Repudiandae, vel, quo, dolores velit vero debitis sed non odio culpa quasi excepturi tempore saepe atque quod repellendus aliquam eum neque dolorem beatae veniam quis id deserunt dignissimos voluptatum incidunt necessitatibus inventore reprehenderit consequatur esse perferendis ipsum earum pariatur et eaque sequi a harum sit similique itaque dicta expedita unde. Animi, quo, facilis laudantium quas commodi aut harum reprehenderit explicabo.</div>
        </div>
        
    </panel>

    <panel heading="inline-editor" panel-class="panel-midnightblue">
        <div class="large-12 columns" meditor>

            <h2>
                With inline content
            </h2>

            <blockquote>
                To argue the question of "organization" versus "non-organization" is ridiculous; this issue has never been in dispute among serious anarchists, except perhaps for those lonely "individualists" whose ideology is rooted more in an extreme variant of classical liberalism than anarchy. Yes, anarchists believe in organization - in national organization and international organization. Anarchist organization have ranged from loose, highly decentralized groups to "vanguard" movements of many thousands, like the Spanish FAI, which functioned in a highly concerted fashion.
            </blockquote>

        </div>

        
    </panel>

</div> <!-- container -->

